body {
    width: 340px;
    height: auto;
    margin: 0;
    box-sizing: border-box;
    padding: 10px 4px;
    color: rgba(53, 243, 65, 0.5);
    color: rgba(131, 187, 48, 0.5);
    color: rgba(82, 126, 65, 0.5);
    color: rgba(106, 111, 69, 0.5);
    color: rgba(162, 180, 82, 0.5);
    color: rgba(100, 150, 200, 1);
}